<h1>{{book.title}}</h1>
<p>ID: {{book.id}}</p>
<p>Description: {{book.desc}}</p>
<p>Authors:</p>
<ul>
    {% for author in book.authors.all %}
    <li>{{author.first_name}} {{author.last_name}}</li>
    {% endfor %}
</ul>
<form action="/join_author" method="POST">
    {% csrf_token %}
    <input type="hidden" name="book_id" value="{{book.id}}">
    <select name="author_id">
        {% for author in not_associated_authors %}
        <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
        {% endfor %}
    </select>
    <button>Add</button>
</form>