<div style="display: flex; gap: 50px;">
    <div>
        <h1>Add a Book</h1>
        <form action="/add_book" method="POST">
            {% csrf_token %}
            Title: <input type="text" name="title"><br>
            Description: <textarea name="desc"></textarea><br>
            <button>Add</button>
        </form>
    </div>
    <table border="1">
        <thead><tr><th>ID</th><th>Title</th><th>Action</th></tr></thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="/books/{{book.id}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>