body {
    /*background-color: #e9f1f1;
    margin: 0 250px;*/
}

main {
    width: 1200px;
    background-color: #e9f1f1;
    height: 1000px;
    font-family: monospace; 
}

.top-line {
  border-top: 4px solid black;  
  width: 100%;
}

h1 {
    text-align: center;
    color: #665d5d;
    
    font-size: 60px;
}

img {
    height: 200px;
    padding: 20px;
}

.first {
    /*background-color: #4cc5e3;
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 20px;*/
    background-color: #4cc5e3;
    display: flex;
    justify-content: space-around;
    margin: 0 30px 30px;


}

.second {
    /*background-color: #c994b3;
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 20px;*/
    background-color: #c994b3;
    display: flex;
    justify-content: center;
    margin: 0 30px 30px;
    gap: 100px;
}

.third {
    /*background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 20px;*/
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    margin: 0 30px 30px;
}

p {
    font-size: 20px;
    color: #515356;
        text-align: center;
}
a{
    color: rgb(70, 184, 199);
}
