<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <link rel="stylesheets" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <div class="boxes_container">
    {% for i in range(x) %}
        <div class="box" style="background-color: {{ color }};"></div>
    {% endfor %}
    </div>
    </div>
</body>
</html>