h1 {
    background-color: #000000;
    text-align: left;
    font-family: math;
    color: rgba(255, 255, 255,1);
}

h2 {
    background-color:#7844a9;
    color: #f7f3f3;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    padding: 5px 0;
}

h3 {
    background-color: rgba(155, 198, 255,1);
    color: #5c298b;
    text-align: right;
    text-decoration: underline;
    font-family: monospace;
    font-size: 20px;
    padding-right: 12px;
    padding-bottom: 5px;
}

span {
    color: aqua;
}