
<!DOCTYPE html>
<html>
<head>
    <title>Dojo Fruit Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dojo Fruit Store!</h1>
    <form action="/checkout" method="post">
        <table>
            <tr>
                <th>Fruit Name</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Strawberry</td>
                <td><input type="number" name="strawberry" value="0"></td>
            </tr>
            <tr>
                <td>Raspberry</td>
                <td><input type="number" name="raspberry" value="0"></td>
            </tr>
            <tr>
                <td>Apple</td>
                <td><input type="number" name="apple" value="0"></td>
            </tr>
        </table>
        
        <h3>Your Information</h3>
        <label>First Name: </label>
        <input type="text" name="first_name"><br>
        <label>Student ID: </label>
        <input type="text" name="student_id"><br>
        
        <input type="submit" value="Buy me stuff!">
    </form>
</body>
</html>
